body {
    font-family: Arial, sans-serif;
    background-color: #0a1a4b;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background: #0a1a4b;
    padding: 20px;
    border-radius: 10px;
}

.timer, .score {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: left;
}

.table th, .table td {
    border: 2px solid white;
    padding: 20px;
    font-size: 36px;
}

.table th {
    font-size: 24px;
    background-color: #0d2a63;
}

.option-label {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.answer-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
}

.answer-table td {
    border: 2px solid white;
    padding: 10px;
    font-size: 24px;
    background-color: #0d2a63;
    cursor: pointer;
}

.answer-table td:hover, .selected {
    background-color: #1a3a7a;
}

.content-wrapper {
    display: none; /* Awalnya disembunyikan */
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 350px;
}

.start-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a1a4b;
    position: absolute;
    top: 0;
    left: 0;
}

.start-button {
    font-size: 24px;
    padding: 15px 30px;
    cursor: pointer;
    background-color: #1a3a7a;
    border: none;
    color: white;
    border-radius: 10px;
}
